$lightOrange: #ffc078;
$darkOrange: #ff8b06;
$lightGreen: #84d882;
$darkGreen: #1ecd1a;
$fontdark: #434343;
$fontGray: #959595;
$grayBox: rgba(0, 0, 0, 0.69);
$nightSwitchBg: #232222;
$white: #ffffff;
